#Fundo{
	width: 800px;
	height: 600px;
	background-image: url("Imagens/Espaco2.jpg");
	position: absolute;
	border: 30px solid #000;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}

.navJog{
	width: 40px;
	height: 40px;
	background-image: url("Imagens/nave_jog.gif");
	position: absolute;
}

.telaMsg{
	position: absolute;
	margin-left: -25%;
	top: 50px;
	left: 50%;
	width: 720px;
	height: 621px;
	display: none;
}

#MedidorPlaneta{
	border: 2px solid #000;
	width: 300px;
	height: 20px;
	background-color: ;
}

#BarraPlaneta{
	width: 300px;
	height: 20px;
	background-color: #55f;
}

.tiroJog{
	width: 6px;
	height: 6px;
	background-color: #000;
	border-radius: 6px;
	position: absolute;
}

.bomba{
	width: 24px;
	height: 40px;
	background-image: url("Imagens/bomba.gif");
	position: absolute;
}

.explosaoChao{
	width: 55px;
	height: 49px;
	position: absolute;
}

.explosaoAr{
	width: 70px;
	height: 70px;
	position: absolute;
}
